*.DS_Store
*.vscode/
workspace.code-workspace
*.tfrecord
*.tflite
*.onnx

wav2vec2.egg-info/
__pycache__/
.ipynb_checkpoints/
gsoc-wav2vec2-saved-model/

data/
dummy/
timit/
LibriSpeech/

checkpoints/
vasudevgupta/
wav2vec2-base-960h/
wav2vec2_robust/
wav2vec2_xlsr_53/
wandb
tf-wav2vec2-base-960h/
saved-model/

vocab.json
debugger.ipynb
