*.DS_Store
*.vscode/
workspace.code-workspace
*.tfrecord
*.tflite

wav2vec2.egg-info/
__pycache__/
.ipynb_checkpoints/

data/
dummy/
timit/
LibriSpeech/

checkpoints/
vasudevgupta/
wav2vec2-base-960h/
wandb
tf-wav2vec2-base-960h/
saved-model/

debugger.ipynb
